{# extend the template. #}
{% extends '::base.html.twig' %}

{# replace title block content. #}
{% block title name %}

{# replace body block content. #}
{% block body %}
    <ul>
    {% for i in 1..count %}
        {# use |capitalize filter for name variable. #}
        <li>Hello <strong>{{ name|capitalize }}</strong>! #{{ i }}</li>
    {% endfor %}
    </ul>

    <h2>Event Details</h2>
    {{ event.name }}<br/>
    {# use |date filter. #}
    {{ event.time|date('l, Y-m-d h:i:s A') }}<br/>
    {{ event.location }}<br/>
    {{ event.details }}
{% endblock %}
